@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h3 {
    font-family: "inter";
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

p {
    font-family: "inter";
}